<div class="container-img">
  <img id="frase" src="/css/img/10658034-removebg-preview.png" alt="frase">
  <img id="car" src="/css/img/oroch-brito-celular3-1024x507.png" alt="imagem de carros">
</div>

<nav class="navbar-container">
  <ul>
    <li><a href="/cdc"><img src="/css/img/do-utilizador(1).png" alt="icone pessoa"></a></li>
    <li><a href="/cdv"><img src="/css/img/icons8-carro-64.png" alt="icone carro"></a></li>
    <li><a href="/cdr"><img src="/css/img/reserva-on-line.png" alt="icone reserva"></a></li>
  </ul>
</nav>