<h1>Cadastro de Reserva</h1>
<form class="form" action="/reserva/insertreserva" method="post">
  <div class="form-control">
    <label for="cliente">Cliente </label>
    <input type="text" name="cliente" placeholder="Digite o id do cliente">
  </div>  
  <div class="form-control">
    <label for="veiculo">Veiculo</label>
    <input type="text" name="veiculo" placeholder="Digite o id do veiculo">
  </div>
  <div class="form-control">
    <label for="data_inicio">data de início</label>
    <input type="text" name="data_inicio" placeholder="Digite a data de início da reserva">
  </div>
  <div class="form-control">
    <label for="data_fim">data de término</label>
    <input type="text" name="data_fim" placeholder="Digite a data de início da término">
  </div>
  <input id="cadastrar" type="submit" value="Cadastrar">

</form>
